body{
    background-color:gray
}
h1{
    color:lavender;
  margin-top: 120px;
}
h5{
    color: black;
}
.Button{
border-color: black;
height: 20px;
width: 110px;
}
.container {
    min-height: 400px;
   
   background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    
    
  }
  .main_container{
    width: 1440px;
    margin: auto;
  }
  .tour_table{
margin-right: 300px;
  }
 
  .Home_page_button{
    margin-top: 20px;
  }
   
  
  
  h5 {
    color: white;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /* p {
    color:black;
    margin: 0px;
    text-justify: inter-ideograph;
  }
   */
  .shedule_homepage{
align-content: center;
    margin-top: 50px;
  }  
  
h1{
  text-align: center ;
}

    
  
  

  .navbar {
   min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 0px 1px 2px #ccc;
    margin-bottom: 12px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 1440px;
  }
  .search_bar{
    display: inline-block;
    
    
    padding: 10px;
    margin: 10px;
  }
  .input{
    min-width: 400px;
    min-height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .icon_button{
    height: 40px;
    width: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
  }
  i{
    color: green;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul > .show_nested:hover {
  }
  
  .nested {
    display: none;
  }
  
  li {
    display: inline-block;
    color: black;
    padding: 10px;
    margin: 10px;
    
    /* border-radius: 125px; */
    cursor: pointer;
  }
  .logo_img{
    height: 70px;
    width: 100px;
  }
  
  li:hover {
    /* background-color: lightgray; */
    border-bottom-width: 3px;
    border-bottom-color: green;
    border-bottom-style: solid;
    /* text-decoration: underline;
    text-decoration-color: black; */
  }
  li > a {
    text-decoration: none;
    color: black;
  }
  .top_heading {
    margin-top: 120px;
  }
  .map_div{
    text-align: center;
    align-items: center;
    border-radius: 20px;
  }
  .Main_images_div{
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Images{
    height: 250px;
    width: 250px;
  }
  .img_container{
    display: flex;
  }
  .img{
    margin-left: 40px;
    margin-bottom: 60px;
  }
  .packages_heading{
    text-decoration:underline;
    text-align: center;
    color: grey;
}
.box:hover {
  opacity: 0.06;
}
.container {
    min-height: 400px;
   
   background-color:grey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
   
    
    
  }
  .box {
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 40px;
  }
  .box {
    height: 300px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
   margin-left: 100px;
    border-radius: 10px;
   
  }
  .box1 {
    height: 280px;
  width: 250px;
  
 
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 3px 5px;
  position: relative;
      
    }
    .box2 {
      height: 280px;
  width: 250px;
  margin-bottom: 20px;
 
  overflow: hidden;
  border: 1px solid #ccc;
  cursor: pointer;
  margin: 3px 5px;
  position: relative;
    }
    
    .box3 {
   
      height: 280px;
      width: 250px;
      margin-bottom: 20px;
     
      overflow: hidden;
      border: 1px solid #ccc;
      cursor: pointer;
      margin: 3px 5px;
      position: relative;
    
    }
    
    .box4 {
      height: 280px;
      width: 250px;
      margin-bottom: 20px;
     
      overflow: hidden;
      border: 1px solid #ccc;
      cursor: pointer;
      margin: 3px 5px;
      position: relative;
    }
    
    .box_img {
      height: 280px;
      width: 250px;
     
      
    }
    .img_link{
      text-decoration: none;
      color: black;
      text-align: left;
    }

    
    
  h5 {
    color: black;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    
  }
  
  p {
    color:black;
    margin: 0px;
    text-justify: inter-ideograph;
    padding-left: 10px;
  }
  
    .round_button{
        height: 10px;
        width: 10px;
        border-radius: 100%;
        background-color: green;
        border: black;
        align-self: start;
    }
    .aButton{
        height: 20px;
    width: 110px;
    padding-left: 2px;
    margin-left: 5px;
    
      }
      .karachi_heart{
        
        box-shadow: 1px 1px 1px #ccc;
        width: 250px;
        height: 40px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 5px;
        bottom: 10px;
        z-index: 100;;
       

      }
           
    